<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="owin:AppStartup" value="IdentitySample.Startup,CanoHealth.WebPortal" />

  <!--IMPERSONATION KEYS 07/13/2017 12:01 PM-->
  <add key="Impersonation.username" value="MMDFiles" />
  <add key="Impersonation.password" value="Medpro123!" />
  <add key="Impersonation.domain" value="MEDPROBILL" />
  
  <!--PROVIDERS KEYS-->
  <add key="License.Files" value="\\cmbs-svr\users$\greidys\My Documents\My Videos\PlaceOfServiceLicenses\" />
  <add key="Contract.Addendums" value="\\cmbs-svr\users$\greidys\My Documents\My Videos\ContractAddendums\" />
  <add key="Doctor.MedicalLicense" value="\\cmbs-svr\users$\greidys\My Documents\My Videos\DoctorMedicalLicenseFiles\" />
  <add key="Doctor.PersonalFiles" value="\\cmbs-svr\users$\greidys\My Documents\My Videos\DoctorPersonalFiles\" />
  
  <!--Azure Storage Account-->
  <!--Missing here the keys for the storage account-->
  <add key="StorageShare" value="canohealth"/>
  <add key="LocationContainer" value="PlaceOfServiceLicenses"/>
  <add key="AddendumsContainer" value="ContractAddendums"/>
  <add key="PersonalContainer" value="DoctorPersonalFiles"/>
  <add key="MedicalContainer" value="DoctorMedicalLicenses"/>
  <add key="LocalFileSystem" value="Documents\"/>
  
  
  <!--SENDGRID KEYS-->
  <add key="SendGrid.server" value="smtp.sendgrid.net"/>
  <add key="SendGrid.port" value="587"/>
  <add key="SendGrid.username" value=""/>
  <add key="SendGrid.password" value=""/>  
  <add key="SendGrid.sentfrom" value="emedservicecorp@gmail.com"/>
  <add key="CredentialingContact" value="afernandez@canohealth.com"/>
</appSettings>
