<connectionStrings>

  <!--<add name="DefaultConnection" connectionString="Data Source=HAR-PC\SQLEXPRESS01;Initial Catalog=CanoHealth;Integrated Security=SSPI; MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    
  <add name="ElmahSqlErrorLog" connectionString="Data Source=HAR-PC\SQLEXPRESS01;Initial Catalog=CanoHealth;Integrated Security=True; MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />-->

  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=CanoHealth;Integrated Security=SSPI; MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    
  <add name="ElmahSqlErrorLog" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=CanoHealth;Integrated Security=True; MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />

  </connectionStrings>