.logo {
    margin: 20px 0;
    display: inline-block;
}

.logo a.brand:link, .logo a.brand:visited {
    color: #444444;
}

.logo a.brand {
    display: block;
    line-height: 1em;
    text-align: left;
    font-size: 32px;
    font-weight: 900;
}

.logo a.brand img {
    width: auto;
    max-height: 73px;
}
