@model CanoHealth.WebPortal.ViewModels.Manage.ChangePasswordViewModel

<div class="col-md-12">
    @using (Html.BeginForm("ManageProfileChangePassword", "Manage", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-error" })
        <div class="form-group">
            <label for="OldPassword" class="control-label ">Old Password <sup class="text-danger">*</sup></label>
            <input type="password"
                   name="OldPassword"
                   id="OldPassword"
                   class="k-textbox"
                   style="width: 100%;" />
        </div>

        <div class="form-group">
            <label for="NewPassword" class="control-label">New Password <sup class="text-danger">*</sup></label>
            <input type="password"
                   name="NewPassword"
                   id="NewPassword"
                   class="k-textbox"
                   style="width: 100%;" />
        </div>

        <div class="form-group">
            <label for="ConfirmPassword" class="control-label">Confirm Password <sup class="text-danger">*</sup></label>
            <input type="password"
                   name="ConfirmPassword"
                   id="ConfirmPassword"
                   class="k-textbox"
                   style="width: 100%;" />
        </div>

        <div class="form-group">
            <div>
                <input type="submit" value="Change password" class="btn btn-ar btn-primary js-changepassword-submit" />
                <a id="js-btn-cancelChangePassword" class="btn btn-ar btn-default"> Cancel</a>
            </div>
        </div>
    }
    <hr class="color" />
</div>
