@model CanoHealth.WebPortal.ViewModels.InsuranceBusinessLineFormViewModel

@{
    Layout = null;
}

<div class="container-fluid">
    <div class="form-group">
        <label class="control-label text-uppercase">Business lines</label>
        @(Html.Kendo().MultiSelect()
              .Name("orders")
              .DataTextField("ShipName")
              .DataValueField("OrderID")
              .Placeholder("Select addresses...")
              .ItemTemplate("<span class=\"order-id\">#= OrderID #</span> #= ShipName #, #= ShipCountry #")
              .Height(520)
              .DataSource(source => {
                    source.Custom()
                        .ServerFiltering(true)
                        .ServerPaging(true)
                        .PageSize(80)
                        .Type("aspnetmvc-ajax") //Set this type if you want to use DataSourceRequest and ToDataSourceResult instances
                        .Transport(transport =>
                        {
                            transport.Read("Virtualization_Read", "MultiSelect");
                        })
                        .Schema(schema =>
                        {
                            schema.Data("Data") //define the [data](http://docs.telerik.com/kendo-ui/api/javascript/data/datasource#configuration-schema.data) option
                                .Total("Total"); //define the [total](http://docs.telerik.com/kendo-ui/api/javascript/data/datasource#configuration-schema.total) option
                        });
              })
              .ToClientTemplate()
        )
    </div>
</div>
