
@{
    ViewBag.Title = "Change Password";
    Layout = null;
}

@Styles.Render("~/Content/kendo")

<div id="js-changepassword-window">
    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Change Password Form</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            <label for="OldPassword" class="control-label ">Old Password</label>
            <input type="password" name="OldPassword" id="OldPassword" class="k-textbox" style="width: 100%;" />
        </div>
        <div class="form-group">
            <label for="NewPassword" class="control-label">New Password</label>
            <input type="password" name="NewPassword" id="NewPassword" class="k-textbox" style="width: 100%;" />
        </div>
        <div class="form-group">
            <label for="ConfirmPassword" class="control-label">New Password</label>
            <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="k-textbox" style="width: 100%;" />
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Change password" class="btn btn-ar btn-primary" />
            </div>
        </div>
    }
</div>


@Scripts.Render("~/bundles/lib")

