@model CanoHealth.WebPortal.ViewModels.Admin.UserFormViewModel

@{
    //required in order to render validation attributes
    ViewContext.FormContext = new FormContext();
}

<div class="container-fluid">
   
        <!--First Name-->
        <div class="form-group">
            <label for="FirstName" class="control-label text-uppercase">first name: <sup class="text-danger">*</sup></label>
            <input type="text" name="FirstName" id="FirstName" class="k-textbox" required data-required-msg="First Name field is required." style="width: 100%;" />
        </div>

        <!--Last Name-->
        <div class="form-group">
            <label for="LastName" class="control-label text-uppercase">last name: <sup class="text-danger">*</sup></label>
            <input type="text" name="LastName" id="LastName" class="k-textbox" required data-required-msg="Last Name field is required." style="width: 100%;" />
        </div>

        <!--Email Address-->
        <div class="form-group">
            <label for="Email" class="control-label text-uppercase">email: <sup class="text-danger">*</sup></label>
            <input type="email" name="Email" id="Email" class="k-textbox js-email"
                   placeholder="example@canohealth.com"
                   required data-required-msg="Email field is required."
                   style="width: 100%;" />
        </div>

        <!--Password-->
        <div id="js-password" class="form-group">
            <label for="Password" class="control-label text-uppercase js-password-lebel">Password: <sup class="text-danger">*</sup></label>
            <input type="password" name="Password" id="Password" class="k-textbox js-password" required data-required-msg="Password field is required." style="width: 100%;" />
        </div>

        <!--Confirm Password-->
        <div id="js-confirmpassword" class="form-group">
            <label for="ConfirmPassword" class="control-label text-uppercase">confirm Password: <sup class="text-danger">*</sup></label>
            <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="k-textbox" required data-required-msg="Confirmation Password field is required." style="width: 100%;" />
        </div>

        <!--Active-->
        <div id="js-active" class="form-group">
            <input type="checkbox" name="Active" id="Active" class="k-checkbox" />
            <label class="k-checkbox-label text-uppercase" for="Active"> Active</label>

            <input type="checkbox" class="k-checkbox" />
        </div>

        <!--Roles-->
        <div class="form-group">
            <label for="Roles" class="control-label text-uppercase">roles: <sup class="text-danger">*</sup></label>
            @(Html.Kendo().MultiSelectFor(m => m.Roles)
                    .DataTextField("Name")
                    .DataValueField("Id")
                    .Placeholder("Select Roles...")
                    .Height(520)
                        .DataSource(source =>
                        {
                            source.Custom()
                                .ServerFiltering(true)
                                .ServerPaging(true)
                                .PageSize(80)
                                .Type("aspnetmvc-ajax") //Set this type if you want to use DataSourceRequest and ToDataSourceResult instances
                                .Transport(transport =>
                                {
                                    transport.Read("ReadActiveRoles", "RolesAdmin");
                                })
                                .Schema(schema =>
                                {
                                    schema.Data("Data") //define the [data](http://docs.telerik.com/kendo-ui/api/javascript/data/datasource#configuration-schema.data) option
                                        .Total("Total"); //define the [total](http://docs.telerik.com/kendo-ui/api/javascript/data/datasource#configuration-schema.total) option
                        });
                        })
            )
        </div>

        <!--Corporations-->
        <div class="form-group">
            <label for="" class="control-label text-uppercase">corporations: <sup class="text-danger">*</sup></label>
            @(Html.Kendo().MultiSelectFor(m => m.Corporations)
                                                      .DataTextField("CorporationName")
                                                      .DataValueField("CorporationId")
                                                      .Placeholder("Select Corporation...")
                                                      .Height(520)
                                                      .DataSource(source =>
                                                      {
                                                          source.Custom()
                                                              .ServerFiltering(true)
                                                              .ServerPaging(true)
                                                              .PageSize(80)
                                                              .Type("aspnetmvc-ajax") //Set this type if you want to use DataSourceRequest and ToDataSourceResult instances
                                                              .Transport(transport =>
                                                              {
                                                                  transport.Read("ReadActiveCorporations", "Corporation");
                                                              })
                                                              .Schema(schema =>
                                                              {
                                                                  schema.Data("Data") //define the [data](http://docs.telerik.com/kendo-ui/api/javascript/data/datasource#configuration-schema.data) option
                                                                      .Total("Total"); //define the [total](http://docs.telerik.com/kendo-ui/api/javascript/data/datasource#configuration-schema.total) option
                                                      });
                                                      })
            )
        </div>
     
</div>