<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
  <connectionStrings>
    <add name="CanoHealthEntities" connectionString="metadata=res://*/Persistance.CanoHealthEntities.csdl|res://*/Persistance.CanoHealthEntities.ssdl|res://*/Persistance.CanoHealthEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;initial catalog=CanoHealth;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <appSettings>
    <add key="EmailSettings.host" value="smtp.office365.com"/>
    <add key="EmailSettings.port" value="587"/>
    <add key="EmailSettings.ssl" value="true"/>
    <add key="EmailSettings.from" value="do_not_reply@canohealth.net"/>
    <add key="EmailSettings.password" value="MEDpro15!"/>
    <add key="CredentialingContact" value="afernandez@canohealth.com"/>
    
    <add key="Source.MedicalLicense" value="DoctorMedicalLicense"/>
    <add key="Source.LocationLicense" value="LocationLicense"/>
  </appSettings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>