@using CanoHealth.WebPortal.ViewModels
@{
    ViewBag.Title = "Home";
}

@*<h2>Under construction</h2>*@

<header id="header-full">
    <div class="wrap-primary">
        <div class="container">
            @*<h1 class="head-title animated bounceInDown animation-delay-8">artificial reason</h1>
        <img src="assets/img/logo_raw_white.png" alt="" class="aligncenter head-full-logo animated bounceIn animation-delay-5">*@
            <h2 class="secondary-color text-center head-subtitle animated fadeInUp animation-delay-14">CanoHealth Credentialing System</h2>
            <p class="lead text-center animated fadeInUp animation-delay-14">Until now, credentialing has run on outdated systems, spreadsheets and repetitive manual work that only increases work, delays, costs and potential downstream risk due to human errors.</p>
            <div class="row header-full-icons text-center">
                <div class="col-sm-3 animated fadeInDown animation-delay-19">
                    <span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-hospital-o"></i></span>
                    <h3>Locations</h3>
                    <p class="text-center">Illo quas ab, aut quasi vitae nam ipsum totam aspernatur.</p>
                </div>
                <div class="col-sm-3 animated fadeInDown animation-delay-21">
                    <span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-users"></i></span>
                    <h3>Doctors</h3>
                    <p class="text-center">Culpa, excepturi ipsa, aut reiciendis maiores deserunt.</p>
                </div>
                <div class="col-sm-3 animated fadeInDown animation-delay-22">
                    <span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-info"></i></span>
                    <h3>Insurances</h3>
                    <p class="text-center">Blanditiis consequatur minima voluptatibus ducimus tempore.</p>
                </div>
                <div class="col-sm-3 animated fadeInDown animation-delay-20">
                    <span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-handshake-o"></i></span>
                    <h3>Contracts</h3>
                    <p class="text-center">Eius culpa eligendi autem odio nisi dignissimos sapiente.</p>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="wrap-dark-color margin-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-7 feature-container">
                <a class="feature-icon">
                    <i class="fa fa-desktop"></i>
                    <h4>Line of Business</h4>
                </a>
                <a class="feature-icon">
                    <i class="fa fa-download"></i>
                    <h4>Addendums</h4>
                </a>
                <a class="feature-icon">
                    <i class="fa fa-cloud"></i>
                    <h4>Cloud</h4>
                </a>
                <a class="feature-icon">
                    <i class="fa fa-html5"></i>
                    <h4>Licenses</h4>
                </a>
            </div>
            <div class="col-md-5 hidden-sm hidden-xs">
                <p class="lead text-center">
                    Credentialing plays a role in members’ access to quality health care.
                </p>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <section class="margin-bottom">
        <div class="row">
            <div class="col-md-12">
                <h2 class="right-line">What do we do?</h2>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-user-md"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Provider Credentialing</h3>
                        <p>Reviews doctors’ qualifications and career history including their education, training, residency and certificates.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-files-o"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Licenses</h3>
                        <p>Manage Locations and Medical Licenses, providing email notifications and alert popups when licenses are going to expire.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-handshake-o"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Contracts</h3>
                        <p>Contract managment between CanoHealth and Insurance Companies.</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-id-card-o"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Provider Enrollment</h3>
                        <p>Enroll providers with Insurance Plans.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-sitemap"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">In-network enrollment</h3>
                        <p>Associate individual providers to CanoHealth contracts network.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-volume-control-phone"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Call Center</h3>
                        <p>Search feature to provide accurate date during the appointment process.</p>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
</section>

    <section class="margin-bottom">
        <p class="lead lead-lg text-center primary-color margin-bottom wow fadeInDown">Knows the <strong>Artificial Reason</strong> and surprise yourself</p>
        <div class="row">
            <div class="col-md-6 wow fadeInRight">
                <h2 class="no-margin-top">About us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, alias, nihil molestias libero corporis perferendis a quasi at.</p>
                <p>Eos, illum, odit nulla provident sint atque quasi necessitatibus dolores voluptatibus perspiciatis aliquid tempora possimus laudantium. Blanditiis, deleniti!</p>
                <p>Saepe, laborum, eligendi vitae ad excepturi officiis vel omnis quidem et dolorum rem vero explicabo consequatur mollitia nihil!</p>
                <p>Fuga, omnis, quo, cumque, ipsa quasi facilis voluptatibus iure veniam nostrum voluptate accusantium dolore reprehenderit. Corrupti, mollitia, maiores!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit ducimus, pariatur ad ipsam et quod numquam eveniet magni aspernatur.</p>

            </div>
            <div class="col-md-6">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default wow fadeInUp">
                        <div class="panel-heading panel-heading-link">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <i class="fa fa-lightbulb-o"></i> Talent and creativity
                            </a>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati molestiae id ipsum ipsa repudiandae. Voluptatum, molestias, quas magnam repellat quos facilis sequi. Ullam optio eius deleniti dolore quasi doloribus ipsam incidunt perferendis.</p>
                                <p>Dolores, corrupti, laborum, officia sit aliquam doloremque accusantium nemo sunt veniam est incidunt perferendis minima obcaecati ex aperiam voluptatibus blanditiis eum suscipit magnam dolorum in adipisci nihil ipsam perspiciatis molestiae!</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default wow fadeInUp">
                        <div class="panel-heading panel-heading-link">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
                                <i class="fa fa-desktop"></i> Design and code
                            </a>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit dignissimos inventore cupiditate expedita saepe enim nobis nostrum? Laborum, laudantium, maiores, cupiditate, perspiciatis at ad accusamus corporis sed ipsam et velit!</p>
                                <p>Incidunt, harum itaque voluptatum asperiores recusandae explicabo maiores. Alias, quos, ex impedit at error id laborum fugit architecto qui beatae molestiae dolorum rem veritatis quia aliquam totam accusamus perferendis. Nulla!</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default wow fadeInUp">
                        <div class="panel-heading panel-heading-link">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
                                <i class="fa fa-user"></i> Quality and Support
                            </a>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, rerum unde doloribus accusamus pariatur non expedita quibusdam velit totam obcaecati. Consequatur, deserunt, asperiores quam nisi earum voluptates animi labore tempore!</p>
                                <p>Dolorum, aliquam, totam labore saepe error a eum culpa assumenda sint laudantium ipsa iure ullam et dicta nesciunt repellendus optio voluptatibus reprehenderit odit officia fugiat necessitatibus recusandae architecto ad neque?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

