@using CanoHealth.WebPortal.ViewModels
@{
    ViewBag.Title = "Home";
}

<header id="header-full">
    <div class="wrap-primary">
        <div class="container">
            @*<h1 class="head-title animated bounceInDown animation-delay-8">artificial reason</h1>
        <img src="assets/img/logo_raw_white.png" alt="" class="aligncenter head-full-logo animated bounceIn animation-delay-5">*@
            <h2 class="secondary-color text-center head-subtitle animated fadeInUp animation-delay-14">CanoHealth Credentialing System</h2>
            <p class="lead text-center animated fadeInUp animation-delay-14">Until now, credentialing has run on outdated systems, spreadsheets and repetitive manual work that only increases work, delays, costs and potential downstream risk due to human errors.</p>
            <div class="row header-full-icons text-center">
                <div class="col-sm-3 animated fadeInDown animation-delay-19">
                    <span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-hospital-o"></i></span>
                    <h3>Locations</h3>
                    <p class="text-center">Manage more than 15 Locations through all Florida.</p>
                </div>
                <div class="col-sm-3 animated fadeInDown animation-delay-21">
                    <span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-users"></i></span>
                    <h3>Doctors</h3>
                    <p class="text-center">Manage more than 40 doctors in CanoHealth network.</p>
                </div>
                <div class="col-sm-3 animated fadeInDown animation-delay-22">
                    <span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-info"></i></span>
                    <h3>Insurances</h3>
                    <p class="text-center">All insurance companies in Florida.</p>
                </div>
                <div class="col-sm-3 animated fadeInDown animation-delay-20">
                    <span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-handshake-o"></i></span>
                    <h3>Contracts</h3>
                    <p class="text-center">Over 100 contracts with Insurance Companies.</p>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="wrap-dark-color margin-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-7 feature-container">
                <a class="feature-icon">
                    <i class="fa fa-line-chart"></i>
                    <h4>Line of Business</h4>
                </a>
                <a class="feature-icon">
                    <i class="fa fa-download"></i>
                    <h4>Addendums</h4>
                </a>
                <a class="feature-icon">
                    <i class="fa fa-cloud"></i>
                    <h4>Cloud</h4>
                </a>
                <a class="feature-icon">
                    <i class="fa fa-files-o"></i>
                    <h4>Licenses</h4>
                </a>
            </div>
            <div class="col-md-5 hidden-sm hidden-xs">
                <p class="lead text-center">
                    Credentialing plays a role in members’ access to quality health care.
                </p>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <section class="margin-bottom">
        <div class="row">
            <div class="col-md-12">
                <h2 class="right-line">What do we do?</h2>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-user-md"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Provider Credentialing</h3>
                        <p>Reviews doctors’ qualifications and career history including their education, training, residency and certificates.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-lock"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Secure Storage</h3>
                        <p>Securely manage and store your providers' documents, credentials and licensure information in one accessible place.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-handshake-o"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Contracts</h3>
                        <p>Contract managment with Insurance Companies.</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-bell"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Automated Alerts & Renewals</h3>
                        <p>Get alerted as DEA, state license, and board dates near their expirations.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-sitemap"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">In-network enrollment</h3>
                        <p>Associate individual providers to CanoHealth contracts network.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-volume-control-phone"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Call Center</h3>
                        <p>Search feature to provide accurate date during the appointment process.</p>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
</section>

    <section class="margin-bottom">
        <p class="lead lead-lg text-center primary-color margin-bottom wow fadeInDown">Knows the <strong>Artificial Reason</strong> and surprise yourself</p>
        <div class="row">
            <div class="col-md-6 wow fadeInRight">
                <h2 class="no-margin-top">About us</h2>
                <p class="text-justify">Built by credentialing experts, this system provides simple, centralized, credentials management for your entire team of healthcare providers. There's no need to hunt for credentialing information anymore; it uses public services and primary source verification data to automatically gather provider details like NPI, DEA, license numbers, education, and more. </p>
                <p class="text-justify">Expiration Reminder automatically tracks expiration dates for employee certifications, contract, licenses, insurance and more.</p>
                <p class="text-justify">Document Management. Securely store important documents and access them anytime, from anywhere.</p>
                <p class="text-justify"></p>
                <p class="text-justify"></p>

            </div>
            <div class="col-md-6">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default wow fadeInUp">
                        <div class="panel-heading panel-heading-link">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <i class="fa fa-clock-o"></i> Expiration Reminder
                            </a>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <p class="text-justify">
                                    Save an average of 20 hours per week on tracking what's expired.
                                    Spend less time following up and more time adding value to the business.
                                </p>
                                <p class="text-justify">
                                    Never open spreadsheet after spreadsheet to find what's expired.
                                    Stop sending emails and let others come back to you with the information.
                                </p>
                                <p class="text-justify">
                                    Send providers instant reminders about upcoming expirations and renewals.
                                    Have them contact you with the updates increasing employee accountability.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--<div class="panel panel-default wow fadeInUp">
                        <div class="panel-heading panel-heading-link">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
                                <i class="fa fa-desktop"></i> Design and code
                            </a>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit dignissimos inventore cupiditate expedita saepe enim nobis nostrum? Laborum, laudantium, maiores, cupiditate, perspiciatis at ad accusamus corporis sed ipsam et velit!</p>
                                <p class="text-justify"> Incidunt, harum itaque voluptatum asperiores recusandae explicabo maiores. Alias, quos, ex impedit at error id laborum fugit architecto qui beatae molestiae dolorum rem veritatis quia aliquam totam accusamus perferendis. Nulla!</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default wow fadeInUp">
                        <div class="panel-heading panel-heading-link">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
                                <i class="fa fa-user"></i> Quality and Support
                            </a>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, rerum unde doloribus accusamus pariatur non expedita quibusdam velit totam obcaecati. Consequatur, deserunt, asperiores quam nisi earum voluptates animi labore tempore!</p>
                                <p class="text-justify">Dolorum, aliquam, totam labore saepe error a eum culpa assumenda sint laudantium ipsa iure ullam et dicta nesciunt repellendus optio voluptatibus reprehenderit odit officia fugiat necessitatibus recusandae architecto ad neque?</p>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </section>
</div>